body {
    background-color: azure;
}

.main {
    width: 350px;
    background-color: whitesmoke;
    margin-left: 20px;   /* Moves card to left */
    padding: 15px;
    
}
img{
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Important: align to left */
}

.header {
    background-color: gainsboro;
    text-align: center;
}

.info {
    text-align: center;
}

footer {
    text-align: center;
    color: gray;
}
